/* ================================
   Activity 1 
================================ */
.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

.red1 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1 / 3;
}

.green1,
.yellow1 {
  width: 200px;
  height: 200px;
}

.green1 {
  background-color: green;
}

.yellow1 {
  background-color: gold;
}

.blue1 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1 / 3;
}

/* ================================
   Activity 2  (stacked diagonal overlap)
================================ */
.content2 {
  position: relative;
  width: 300px;     /* enough width for boxes */
  height: 200px;    /* enough height for all 4 */
  margin: 20px auto;
  background-color: white; /* helps you see placement while testing */
}

.red2, .green2, .yellow2, .blue2 {
  width: 100px;
  height: 100px;
  position: absolute;
}

/* each box shifts slightly down and right */
.red2 {
  background-color: red;
  top: 0;
  left: 0;
  z-index: 1;
}

.green2 {
  background-color: green;
  top: 25px;
  left: 25px;
  z-index: 2;
}

.yellow2 {
  background-color: gold;
  top: 50px;
  left: 50px;
  z-index: 3;
}

.blue2 {
  background-color: blue;
  top: 75px;
  left: 75px;
  z-index: 4;
}

/* ================================
   Activity 3  (exact BYU-I example)
================================ */
.content3 {
  display: grid;
  grid-template-columns: 45% 45%;   
  grid-template-rows: 100px 150px 100px;
  justify-content: space-between;   
  width: 100%;
  height: auto;
}

.red3 {
  background-color: red;
  grid-column: 1 / 3;               /* spans both columns */
  grid-row: 1 / 2;
}

.green3 {
  background-color: green;
  grid-column: 1 / 2;               /* left middle */
  grid-row: 2 / 3;
}

.yellow3 {
  background-color: gold;
  grid-column: 2 / 3;               /* right middle */
  grid-row: 2 / 3;
}

.blue3 {
  background-color: blue;
  grid-column: 1 / 3;               /* spans both columns */
  grid-row: 3 / 4;
}

/* ================================
   Activity 4  (tall red column on left)
================================ */
.content4 {
  display: grid;
  grid-template-columns: 1fr 1fr;  /* two equal columns */
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 450px;                   /* slightly taller to align rows evenly */
  gap: 0;
}

.red4 {
  background-color: red;
  grid-column: 1 / 2;              /* left column */
  grid-row: 1 / 4;                 /* spans all three rows */
}

.green4 {
  background-color: green;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.yellow4 {
  background-color: gold;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.blue4 {
  background-color: blue;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/* ================================
   Activity 5 - Float layout
================================ */
.activity5 {
  width: 90%;
  margin: 0 auto;
}

.red5 {
  background-color: red;
  height: 100px;
  width: 100%;
  margin-bottom: 0;
}

.green5 {
  background-color: green;
  width: 200px;
  height: 180px;
  float: left;
  margin: 0; 
}

.yellow5 {
  background-color: yellow;
  padding: 0px;
  overflow: hidden;
}

.blue5 {
  background-color: blue;
  height: 100px;
  width: 100%;
  clear: both;
  margin-top: 0;
}

/* ================================
   Activity 6  (overlapping boxes)
================================ */
.content6 {
  position: relative;
  width: 700px;
  height: 700px;
  margin: 20px auto;
  background-color: white;
  border: 1px solid black;
}

/* Red – top left */
.red6 {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: red;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Blue – large and centered overlapping (behind green/yellow) */
.blue6 {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: blue;
  top: 150px;
  left: 150px;
  z-index: 2;
}

/* Green – bottom left (on top of blue) */
.green6 {
  position: absolute;
  width: 250px;
  height: 220px;
  background-color: green;
  bottom: 0;
  left: 0;
  z-index: 3;
}

/* Yellow – bottom right (on top of blue) */
.yellow6 {
  position: absolute;
  width: 210px;
  height: 450px;
  background-color: gold;
  bottom: 0;
  right: 0;
  z-index: 4;
}

/* ================================
   General Formatting
================================ */
.activity {
  width: 70%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  border: 1px solid black;
  padding: 10px;
  clear: both;
  overflow: auto;
}
